# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
.pyd

# Virtual environments
venv/

# Configuration files
config.json
root.json

# Database files
learn.db
root.db

# Logs
*.log

# Temporary files
*.tmp
